div.picboard {
  background-color: rgb(220, 220, 220);
  background-image: url("./art/background.png");
  background-size: 20%;
  float: left;
  width: 90%;
  padding: 5%;
  padding-right: 5%;
  border: 2px solid;
}
div.picboardText {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 28px;
}
div.polaroid {
  width: 400px;
  height: 400px;
  float: left;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  padding: 5px;
  transition: background-color 2s, transform 2s;
}
div.polaroid:hover {
  background-color: black;
  transform: rotate(0deg);
  transform: scaleY(1.1) scaleX(1.1);
}
img.polaroid {
  height: 300px;
  width: auto;
  max-width: 100%;
}
div.title {
  position: relative;
  top: -45px;
  text-align: center;
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-Size: 24px;
}
div.media {
  text-align: left;
  font-Size: 18px;
}
div.price {
  position: relative;
  top: -45px;
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-Size: 32px;
  color: rgba(255, 255, 255, 0.8);
}
div.rotate_right {
  float: left;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
}

div.rotate_left {
  float: left;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
}


